In [11]:
import pandas as pd
import numpy as np
# Carregando o dataset de clientes 
clientes_df = pd.read_csv('datasets/olist_customers_dataset.csv')
clientes_df.drop_duplicates(keep='first') #remove linhas duplicadas e mantêm a primeira ocorrência
clientes_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [4]:
print('Contagem de valores nulos:')
print(clientes_df.isnull().sum()) # Conta todos os nulos do dataframe

Contagem de valores nulos:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [7]:
display(f'10 Primeiras linhas:')
print(clientes_df.head(10)) #Mostra as 10 primeiras linhas do dataframe

'10 Primeiras linhas:'

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
5  879864dab9bc3047522c92c82e1212b8  4c93744516667ad3b8f1fb645a3116a4
6  fd826e7cf63160e536e0908c76c3f441  addec96d2e059c80c30fe6871d30d177
7  5e274e7a0c3809e14aba7ad5aae0d407  57b2a98a409812fe9618067b6b8ebe4f
8  5adf08e34b2e993982a47070956c5c65  1175e95fb47ddff9de6b2b06188f7e0d
9  4b7139f34592b3a31687243a302fa75b  9afe194fb833f79e300e37e580171f22

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP
5                     89254         jaragua do sul             SC
6                      4534              sao paulo             SP
7                     35182                timoteo             MG
8                     81560               curitiba             PR
9                     30575         belo horizonte             MG

In [51]:
print('Formato da tabela(linhas, colunas):')
print(f'Linhas: {clientes_df.shape[0]}\nColunas: {clientes_df.shape[1]}')

Formato da tabela(linhas, colunas)
Linhas: 99441
Colunas: 5

In [52]:
print(f'Informações gerais:')
print(clientes_df.info())

Informações gerais:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

In [53]:
print("Descrição estatística do DataFrame:")#Somente para dados numéricos
print(clientes_df.describe())

Descrição estatística do DataFrame:
       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [16]:
#Pegando estado mais frequente e contando com Numpy
estados = clientes_df['customer_state'].to_numpy() 
contador = np.unique(estados, return_counts=True)
indice_mais_comum = np.argmax(contador[1])
print(f'O estado com mais pedidos é {contador[0][indice_mais_comum]} com {contador[1][indice_mais_comum]} pedidos.')
print('-*'*30)
#Pegando cidade mais frequente e contando com Pandas
cidades = clientes_df['customer_city'].value_counts() #Número de pedidos por cidade
print(f'A cidade com mais pedidos foi {cidades.idxmax()} com {cidades.max()} pedidos')
print('-*'*30)
print('Número de pedidos por cidade:')
print(cidades)

O estado com mais pedidos é SP com 41746 pedidos.
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
A cidade com mais pedidos foi sao paulo com 15540 pedidos
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
Número de pedidos por cidade:
customer_city
sao paulo            15540
rio de janeiro        6882
belo horizonte        2773
brasilia              2131
curitiba              1521
                     ...
bequimao                 1
andarai                  1
vargem grande            1
curvelandia              1
eugenio de castro        1
Name: count, Length: 4119, dtype: int64

In [57]:
#Número de pedidos por estado
print('Número de pedidos por estado:')
estado = clientes_df['customer_state'].value_counts()
print(estado)

Lista de pedidos por estado:
customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: count, dtype: int64

In [14]:
#clientes das 3 cidades mais comuns
clientes_df[(clientes_df['customer_city']=='sao paulo') |(clientes_df['customer_city']=='rio de janeiro')|(clientes_df['customer_city']=='belo horizonte')].sort_values('customer_city',axis=0,)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,É do Sudeste?
61407,b03af535806e398922311291ae3e1f0f,0377f8402d448137ba33672d6318d8a9,30492,belo horizonte,MG,True
66070,9b97e240c29d2750738438d1e147daa7,45e1383f68227bf259f79319dcba791c,31570,belo horizonte,MG,True
87031,df94163aaf41dc29d2051c88b9b6aa17,99749d7ee01657cc0faeee7de4fea874,30310,belo horizonte,MG,True
19997,8676c80898b5fdcd9f7c48c39b000043,fa9ee193b074562663aa4c1ea3894e2d,30431,belo horizonte,MG,True
20026,01f831a3745969dca7b974014c4d4344,36fd23d5c40986f79525271e5e980310,30170,belo horizonte,MG,True
...,...,...,...,...,...,...
41104,c17ade8d5755b2f05c32066c18fed6dd,c038b0b7452e88cd1bc2e0ae5a405d2d,5427,sao paulo,SP,True
41101,612b779c8394301bc22771a63e4e7a0a,19f190b5d6d5121c8c6d2aecf2c7d98c,5791,sao paulo,SP,True
41099,5f5807b2902d221edab3af4b1268ab00,a8becdc52eb49044d9d158c4199ab1ad,4360,sao paulo,SP,True
41091,c74986f39d4600fcccc1a012403bbaa0,ab42daa0e23e5cab504e10e72209f085,5850,sao paulo,SP,True
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,True

In [61]:
#Id dos clientes que mais compraram
clientes_df['customer_unique_id'].value_counts()

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
081f07439678af2da7755a0aa572154d     1
9c57789a6a587f4efcfb01e36c106014     1
9e4c21635f640562de1a6976374fba03     1
06c0ea6ee892364d1608ee47aa9f56a0     1
84732c5050c01db9b23e19ba39899398     1
Name: count, Length: 96096, dtype: int64

In [13]:
#adicionando coluna 'É do Sudeste?'
sudeste = ['MG', 'SP', 'RJ', 'ES']
clientes_df['É do Sudeste?'] = clientes_df['customer_state'].isin(sudeste)
clientes_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,É do Sudeste?
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,True
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,True
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,True
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,True
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,True
...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,True
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,True
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,False
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,False
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,True